<div class="container" id="main-container">
  <div class="row col-lg-12 mb-3">
    <h2>About "Server Ping Status Tracker" App</h2>
  </div>
  <div class="row col-lg-12">
    <div>
      <p>
        Server Ping Status Tracker is a web-based application built with Angular
        and Spring Boot REST API (connected to a MySQL database) that allows
        users to monitor servers availability in a local network by performing
        ping tests and displaying their online/offline status. Users can also
        perform CRUD (Create, Read, Update, Delete) operations on Servers.
      </p>
      <p>
        Author:
        <a href="https://radubulai.com" target="_blank">Radu-Alexandru Bulai</a>
      </p>
      <p>Version: 1.0.0</p>
      <p>
        Development Documentation:
        <a
          href="https://github.com/radualexandrub/Study/blob/master/SpringBoot/SpringBootAngularPingStatusApp.md"
          target="_blank"
          >link</a
        >
      </p>
      <p>
        The entire Application and Documentation fall under the
        <a
          href="https://github.com/radualexandrub/SpringBoot-Angular-Server-Ping-Status-Tracker/blob/main/LICENSE"
          target="_blank"
          >MIT License</a
        >.
      </p>
    </div>
  </div>
  <div class="row col-lg-12">
    <a routerLink="/">Back to Servers page</a>
  </div>
</div>
