<div class="footer--space-before"></div>
<footer class="footer">
  <div class="see-on-github-bubble" title="App's Open Source Code on GitHub">
    <a
      href="https://github.com/radualexandrub/SpringBoot-Angular-Server-Ping-Status-Tracker"
      target="_blank"
      ><i class="fab fa-github fa-2x"></i
    ></a>
  </div>
  <p>
    Made with
    <a href="https://angular.io/" target="_blank">Angular</a>,
    <a
      href="https://getbootstrap.com/docs/4.0/getting-started/introduction/"
      target="_blank"
      >Bootstrap CSS</a
    >
    &amp;
    <a href="https://spring.io/projects/spring-boot" target="_blank"
      >Spring Boot API</a
    >
    <br />
    Copyright 2024 &copy;
    <a href="https://radubulai.com" target="_blank">Radu-Alexandru Bulai</a>
  </p>
</footer>
