.table {
  color: var(--primary-font-color) !important;
}
.table td,
.table th {
  border-top: none !important;
}
.table th {
  color: var(--primary-color);
}
.table tbody + tbody {
  border-top: 2px solid var(--secondary-color-table-highlight);
}
.table thead th {
  border-bottom: 1px solid var(--secondary-color);
}
.table-hover tbody tr:hover {
  color: inherit !important;
  background-color: var(--secondary-color-table-highlight) !important;
}
