<div class="container" id="main-container">
  <div class="d-flex align-items-center overflow-auto">
    <form class="form-inline" style="min-width: 10rem">
      <input
        (ngModelChange)="onSearchServers(keyword.value)"
        #keyword="ngModel"
        ngModel
        name="keyword"
        type="search"
        id="searchName"
        class="form-control"
        style="border: none !important"
        title="Search servers by name, address or network"
        placeholder="Search servers..."
      />
    </form>

    <a
      class="mx-3"
      style="cursor: pointer; white-space: nowrap"
      (click)="onGetPingedServers()"
      title="Ping All Servers"
      >Ping All</a
    >

    <select
      name="status"
      (change)="onFilterServersByStatus($event)"
      class="btn btn-primary"
      title="Filter Severs by Status"
      style="margin-left: auto"
    >
      <option value="ALL">ALL SERVERS</option>
      <option value="SERVER_UP">SERVERS UP</option>
      <option value="SERVER_DOWN">SERVERS DOWN</option>
    </select>
  </div>

  <div class="table-responsive">
    <ng-container
      *ngIf="appState$ | async as appState"
      [ngSwitch]="appState.dataState"
    >
      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-md-12 text-center overflow-hidden">
          <div
            title="Loading Servers..."
            class="spinner-border"
            role="status"
            style="color: var(--primary-color)"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <table class="table table-hover" id="servers">
          <thead>
            <tr>
              <th>#</th>
              <th>Address</th>
              <th>Name</th>
              <th>Network</th>
              <th>Status</th>
              <th>Ping</th>
              <th></th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let server of appState.appData?.data?.servers;
              let i = index
            "
          >
            <tr>
              <td title="Server ID: {{ server.id }}">{{ i + 1 }}</td>
              <td>{{ server.ipAddress }}</td>
              <td>{{ server.name }}</td>
              <td>{{ server.network }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="[
                    server.status === Status.SERVER_UP
                      ? ' badge-primary-color'
                      : ' badge-danger'
                  ]"
                >
                  {{
                    server.status === Status.SERVER_UP
                      ? "SERVER UP"
                      : "SERVER DOWN"
                  }}
                </span>
              </td>
              <td>
                <a
                  class="edit"
                  style="cursor: pointer"
                  (click)="onPingServerByItsIpAddress(server.ipAddress)"
                >
                  <i
                    *ngIf="
                      (ipAddressStatusWhenPinging$ | async) === '' ||
                      (ipAddressStatusWhenPinging$ | async) !== server.ipAddress
                    "
                    class="fa fa-tower-broadcast fa-1x"
                    title="Ping Server"
                    style="font-size: 1.5rem"
                  ></i>
                  <i
                    *ngIf="
                      (ipAddressStatusWhenPinging$ | async) === server.ipAddress
                    "
                    class="fa fa-circle-notch fa-spin"
                    style="font-size: 1.5rem"
                  ></i>
                </a>
              </td>
              <td class="d-flex flex-row justify-content-end">
                <a
                  (click)="onOpenModal(server, 'edit')"
                  class="edit"
                  data-toggle="modal"
                  style="cursor: pointer"
                  ><i
                    class="fa fa-pen fa-1x mx-2"
                    title="Edit Server"
                    style="font-size: 1.5rem"
                  ></i
                ></a>
                <a
                  (click)="onDeleteServer(server)"
                  class="delete"
                  data-toggle="modal"
                  style="cursor: pointer"
                  ><i
                    class="fa fa-trash fa-1x mx-2"
                    title="Delete Server"
                    style="font-size: 1.5rem"
                  ></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <a
          role="button"
          title="Export Servers List as JSON"
          id="exportListAsJSONAnchorLink"
          class="mr-3"
          (click)="onExportListAsJSON()"
          >Export List</a
        >
        <a
          role="button"
          title="Import Servers List from JSON"
          id="importListAsJSONAnchorLink"
          class="mr-3"
          data-toggle="modal"
          data-target="#importJSONFileModal"
          >Import List</a
        >
      </ng-container>

      <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="alert-danger">
          {{ appState.error }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<!-- Add server Modal HTML -->
<div id="addServerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #addServerForm="ngForm" (ngSubmit)="onAddServer(addServerForm)">
        <div class="modal-header">
          <div class="modal-title">Add Server</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP Address / FQDN *</label>
            <input
              type="text"
              ngModel
              name="ipAddress"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Name *</label>
            <input
              type="text"
              ngModel
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Network</label>
            <input type="text" ngModel name="network" class="form-control" />
          </div>
          <div class="form-group">
            <label>Status</label>
            <select
              name="status"
              ngModel="SERVER_DOWN"
              class="form-control"
              name="status"
              required
            >
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            id="closeAddModal"
            data-dismiss="modal"
            style="color: var(--primary-font-color)"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              addServerForm.invalid || (isServerRequestLoading$ | async)
            "
          >
            <span *ngIf="!(isServerRequestLoading$ | async)">Add</span>
            <span *ngIf="isServerRequestLoading$ | async">Saving...</span>
            <i
              *ngIf="isServerRequestLoading$ | async"
              class="fas fa-circle-notch fa-spin"
            ></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update server Modal HTML -->
<div id="editServerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        #editServerForm="ngForm"
        (ngSubmit)="onUpdateServer(editServerForm)"
      >
        <div class="modal-header">
          <div class="modal-title">
            Edit Server "{{ (editServer$ | async)?.name }}"
          </div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input
            type="hidden"
            ngModel="{{ (editServer$ | async)?.id }}"
            name="id"
          />
          <div class="form-group">
            <label>IP Address / FQDN *</label>
            <input
              type="text"
              ngModel="{{ (editServer$ | async)?.ipAddress }}"
              name="ipAddress"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Name *</label>
            <input
              type="text"
              ngModel="{{ (editServer$ | async)?.name }}"
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Network</label>
            <input
              type="text"
              ngModel="{{ (editServer$ | async)?.network }}"
              name="network"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Status</label>
            <select
              name="status"
              ngModel="{{ (editServer$ | async)?.status }}"
              class="form-control"
              name="status"
              required
            >
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            id="closeEditModal"
            data-dismiss="modal"
            style="color: var(--primary-font-color)"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              editServerForm.invalid || (isServerRequestLoading$ | async)
            "
          >
            <span *ngIf="!(isServerRequestLoading$ | async)">Update</span>
            <span *ngIf="isServerRequestLoading$ | async">Updating...</span>
            <i
              *ngIf="isServerRequestLoading$ | async"
              class="fas fa-circle-notch fa-spin"
            ></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Imports servers from JSON Modal HTML -->
<div id="importJSONFileModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        id="importJSONFileForm"
        (ngSubmit)="onImportListAsJSON($event)"
        style="accent-color: var(--primary-color)"
      >
        <div class="modal-header">
          <div class="modal-title">Import Servers List from JSON file</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>

        <div class="modal-body">
          <!-- File Input -->
          <div style="margin-bottom: 1rem">
            <label for="JSONFileInput"
              >Please select a JSON File containing a Servers List</label
            >
            <input type="file" id="JSONFileInput" accept=".json" />
          </div>
          <label
            >Select whether to overwrite or add to current Servers list</label
          >
          <div>
            <input
              type="radio"
              name="JSONFileRadioInputs"
              id="JSONFileRadioConcatenateList"
              value="JSONFileRadioConcatenateList"
              checked="checked"
            />
            <label for="JSONFileRadioConcatenateList">
              &nbsp;Add (Concatenate) to current list
            </label>
          </div>
          <div style="margin-bottom: 1rem">
            <input
              type="radio"
              name="JSONFileRadioInputs"
              id="JSONFileRadioOverwriteList"
              value="JSONFileRadioOverwriteList"
            />
            <label for="JSONFileRadioOverwriteList">
              &nbsp;Overwrite current list
              <span class="text-danger">(Deletes all Servers first)</span>
            </label>
          </div>
          <div
            id="importJSONFileFormOutputMessages"
            style="margin-bottom: 1rem"
          >
            <!-- Import Output Messages will be displayed here -->
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            id="closeEditModal"
            data-dismiss="modal"
            style="color: var(--primary-font-color)"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <notifier-container></notifier-container> -->
