<div class="container" id="main-container">
  <div class="d-flex align-items-center overflow-auto">
    <form class="form-inline" style="min-width: 10rem">
      <input
        (ngModelChange)="onSearchServers(keyword.value)"
        #keyword="ngModel"
        ngModel
        name="keyword"
        type="search"
        id="searchName"
        class="form-control"
        style="border: none !important"
        title="Search servers by name, address or network"
        placeholder="Search servers..."
      />
    </form>

    <a
      class="mx-3"
      style="cursor: pointer; white-space: nowrap"
      (click)="onGetPingedServers()"
      title="Ping All Servers"
      >Ping All</a
    >

    <select
      name="status"
      (change)="onFilterServersByStatus($event)"
      class="btn btn-primary"
      title="Filter Severs by Status"
      style="margin-left: auto"
    >
      <option value="ALL">ALL SERVERS</option>
      <option value="SERVER_UP">SERVERS UP</option>
      <option value="SERVER_DOWN">SERVERS DOWN</option>
    </select>
  </div>

  <div class="table-responsive">
    <ng-container
      *ngIf="appState$ | async as appState"
      [ngSwitch]="appState.dataState"
    >
      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-md-12 text-center overflow-hidden">
          <div
            title="Loading Servers..."
            class="spinner-border"
            role="status"
            style="color: var(--primary-color)"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <table class="table table-hover" id="servers">
          <thead>
            <tr>
              <th>#</th>
              <th>Address</th>
              <th>Name</th>
              <th>Network</th>
              <th>Status</th>
              <th>Ping</th>
              <th></th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let server of appState.appData?.data?.servers;
              let i = index
            "
          >
            <tr>
              <td title="Server ID: {{ server.id }}">{{ i + 1 }}</td>
              <td>{{ server.ipAddress }}</td>
              <td>{{ server.name }}</td>
              <td>{{ server.network }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="[
                    server.status === Status.SERVER_UP
                      ? ' badge-primary-color'
                      : ' badge-danger'
                  ]"
                >
                  {{
                    server.status === Status.SERVER_UP
                      ? "SERVER UP"
                      : "SERVER DOWN"
                  }}
                </span>
              </td>
              <td>
                <a
                  class="edit"
                  style="cursor: pointer"
                  (click)="onPingServerByItsIpAddress(server.ipAddress)"
                >
                  <i
                    *ngIf="
                      (ipAddressStatusWhenPinging$ | async) === '' ||
                      (ipAddressStatusWhenPinging$ | async) !== server.ipAddress
                    "
                    class="fa fa-tower-broadcast fa-1x"
                    title="Ping Server"
                    style="font-size: 1.5rem"
                  ></i>
                  <i
                    *ngIf="
                      (ipAddressStatusWhenPinging$ | async) === server.ipAddress
                    "
                    class="fa fa-circle-notch fa-spin"
                    style="font-size: 1.5rem"
                  ></i>
                </a>
              </td>
              <td class="d-flex flex-row justify-content-end">
                <a
                  (click)="onOpenModal(server, 'edit')"
                  class="edit"
                  data-toggle="modal"
                  style="cursor: pointer"
                  ><i
                    class="fa fa-pen fa-1x mx-2"
                    title="Edit Server"
                    style="font-size: 1.5rem"
                  ></i
                ></a>
                <a
                  (click)="onDeleteServer(server)"
                  class="delete"
                  data-toggle="modal"
                  style="cursor: pointer"
                  ><i
                    class="fa fa-trash fa-1x mx-2"
                    title="Delete Server"
                    style="font-size: 1.5rem"
                  ></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <a
          role="button"
          title="Export Servers List as JSON"
          id="exportListAsJSONAnchorLink"
          class="mr-3"
          (click)="onExportListAsJSON()"
          >Export List</a
        >
        <a
          role="button"
          title="Import Servers List from JSON"
          id="importListAsJSONAnchorLink"
          class="mr-3"
          data-toggle="modal"
          data-target="#importJSONFileModal"
          >Import List</a
        >
      </ng-container>

      <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="alert-danger">
          {{ appState.error }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<!-- Add server Modal HTML -->
<app-add-server-modal
  class="modal fade"
  id="addServerModal"
  aria-hidden="true"
></app-add-server-modal>

<!-- Edit server Modal HTML -->
<app-edit-server-modal
  class="modal fade"
  id="editServerModal"
  aria-hidden="true"
></app-edit-server-modal>

<!-- Imports servers from JSON Modal HTML -->
<app-import-servers-modal
  class="modal fade"
  id="importJSONFileModal"
  aria-hidden="true"
></app-import-servers-modal>
