@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

:root {
  --background-color: hsl(201, 33%, 98%);
  --background-color-secondary: hsl(0, 0%, 100%);
  --primary-color: hsl(200, 27%, 37%);
  --secondary-color: hsl(200, 33%, 24%);
  --secondary-color-table-highlight: hsla(200, 33%, 24%, 10%);
  --primary-font-color: #000;
  --primary-font-color-opposite: #fff;
  --container-color: hsl(0, 0%, 97%);
}
[data-theme="dark"] {
  --background-color: hsl(207, 29%, 6%);
  --background-color-secondary: hsl(206, 28%, 10%);
  --primary-color: hsl(216, 100%, 81%);
  --secondary-color: hsl(210, 79%, 75%);
  --secondary-color-table-highlight: hsla(210, 80%, 75%, 15%);
  --primary-font-color: #fff;
  --primary-font-color-opposite: #000;
  --container-color: hsl(207, 29%, 8%);
}
::selection {
  background: var(--primary-color);
  color: var(--primary-font-color-opposite);
}
html,
body {
  height: 100%;
}
app-root {
  font-size: 16px;
  color: var(--primary-font-color);
  background-color: var(--background-color);
  /* useful for sticking the footer to bottom of page in Angular */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 300ms ease-in, color 300ms ease-in;
}
app-footer {
  margin-top: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
.container {
  margin-top: 2rem;
}
.modal-content {
  background-color: var(--container-color);
}
.modal-footer {
  border-top: none !important;
}

input {
  color: var(--primary-font-color) !important;
  background-color: var(--background-color-secondary) !important;
  transition: background-color 300ms ease-in !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:disabled {
  background-color: gray;
  border-color: gray;
}

a {
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
